@charset "UTF-8";

:root{
    --cor-azul:#e1e8ed;
    --cor-terracota:#d08c60;
    --cor-verde:#93a99f;
    --cor-cafe:#3d2c29;
    --cor-ouro:#e1c699;
    --cor-fundo:#ddcdb0;
    --cor-logo:#c2d2cb;
    --cor-coral:rgb(222, 124, 124);
}


* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        .conteiner {
            width: 100vw;
            height: 100vh;
            display: grid;
            grid-template: 100px 50px 3fr 50px/ 1fr;
        }
        header{
            grid-area:1/1/2/-1;
            background-color: #c2d2cb;
            text-align: center;
        }

        .logo-milu{
            width: 250px;

        }
        nav{
            grid-area: 2/1/3/-1;
            background-color: var(--cor-coral);
        }
        main{
            grid-area:3/1/-2/-1;
            background-color: var(--cor-fundo);
        }


        footer{
            grid-area:-2/1/-1/-1;
            background-color: var(--cor-verde);
            padding: 5px;
            text-align: center;
            color: var(--cor-cafe);
        }


      
